# Maven
target/
!target/*.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/
.project
.classpath
.settings/

# Environment
.env
.env.local
*.env
run.ps1
run.sh

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Data
data/vdf-uploads*/

# Git
.git/
.gitignore
